<!DOCTYPE html>
{% load static %} {# 템플릿 태그로 정적파일을 메모리로 불러들인다는 명령 #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap&subset=korean" rel="stylesheet">
    <title>블로그 글 목록</title>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %} <!-- 로그인이 되어있는 사용자에게만 글쓰기를 허락 -->
        <a href="{% url 'post_new' %}" class="top-menu"> <!-- post_new로 지정해서 찾아가는데 이를 거꾸로 찾아간다고 하여 리버스 매치라 한다 -->
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    {% endif %}
    <h1><a href="/">장고 걸스 블로그</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">  <!--부트스트랩 그리드 시스템-->
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>