<!DOCTYPE html>
{% load static %} {# 템플릿 태그로 정적 파일을 메모리로 불러들이라는 명령 #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
    <title>blog post list</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="/">장고 블로그</a></h1>
    </div>
    <!--장고 템플릿 언어 구글링-->
    {% comment %}
    {{ posts }} <br/><br/>     {# django 템플릿 변수(변수의 내용을 출력할 때 사용) #}
    {# 아래 for 루프 처리 부분이 django 템플릿 태그 #}
    {% for post in posts %}     {# for 루프 시작 #}
        {{ post }} <br />
    {% endfor %}                {# for 루프 끝 #}
    {% endcomment %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">  <!--부트스트랩 그리드 시스템: 전체 12칸 중 8칸을 차지하는 사이즈로 구성-->
                {% for post in posts %}
                    <div class="post">
                        <h2><a href="">{{ post.title }}</a></h2>
                        <p>게시일: {{ post.published_date }}</p>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>