<html>
    <head>
        <title>Rinrin Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Rinrin Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>게시일: 14.06.2014, 12:14</p>
            <p>웅앵웅,, Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>게시일: 14.06.2014, 12:14</p>
            <p>어쩌라구,, Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>