<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog post list</title>
</head>
<body>
    <h1><a href="">장고 블로그</a></h1>
    {% comment %}
    {{ posts }} <br/><br/>     {# django 템플릿 변수(변수의 내용을 출력할 때 사용) #}
    {# 아래 for 루프 처리 부분이 django 템플릿 태그 #}
    {% for post in posts %}     {# for 루프 시작 #}
        {{ post }} <br />
    {% endfor %}                {# for 루프 끝 #}
    {% endcomment %}

    {% for post in posts %}
        <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>게시일: {{ post.published_date }}</p>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
</body>
</html>